oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

